<tr>
	<td><div class="text-center"><%= table_row.email_type %></div></td>	
	<td><%= table_row.name %></td>	
	<td class="center">
		<div class="text-center">
	  	<%= link_to("Edit", edit_email_text_path(table_row), :class => 'btn btn-mini') %>
		</div>
	</td>
</tr>
