/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
	background-color: #eee;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
	padding: 1em 1em 4em 1em;
	min-height: 220px;
	border: 1px solid #ccc;
	border-right-color: #999;
	border-bottom-color: #999;
	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.login-form input[type="text"] {width: 95%; height: 40px;}
.login-form input[type="password"] {width: 95%; height: 40px;}

.indent {margin-left: 30px !important;}

.files_to_upload {
	display: block;
	width: 25%;
	float: left;
}
.attached_file_box {width: 220px; height: 260px;}
.attached_file_box_small {width: 110px; height: 130px;}
.attached_file_thumb {width: 50px; height: 50px;}
.upload_file_box {max-width: 180px; width: 180px; padding: 10px;}

.file_thumb {position: relative;}
.file_thumb_image {width: 100%; height: 100%;}
.ps_image {height: 200px;}
.file_thumb_delete_icon {
	position: absolute;
	top: 2%;
	right: 5%;
	width: 12%;
	height: 14%;
}

#dropzone {min-height: 150px;}
.file_remove_icon {cursor: pointer;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}