<div id="settings-page">
  <div id="page-content" class="clearfix">
		<h1>Job Files</h1>

		<div class="inner-box clearfix">
		  <div id="form-block" class="full_width clearfix">
				<div id="settings_block">
					<%= form_for @job_file, :html => { :multipart => true } do |f| %>
						<div id="settings_inner_block">
							<div class="setting_header"></div>
							<div class="setting_body form-horizontal">
							  <div class="control-group">
							    <div class="controls">
								    <%= f.file_field :file %>
							    </div>
							  </div>
							</div>
							<div>
								<%= f.submit "Upload", :class => 'submit small'%>
								<%= f.submit "Cancel", :name => 'cancel_button', :class => 'submit small'%>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>