<footer id="footer">
  <div class="row-fluid">
		<div class="span12">
		</div>
	</div>
  <div class="row-fluid">
		<div class="span12">
			<div id="copyright" class="text-center">
				<strong><a href="http://www.bendbulletin.com">Western Communications</a></strong> - &copy; Copyright 2006-<%= Date.today.year %>
			</div>
		</div>
	</div>
</footer>
