<div class="navbar navbar-fixed-top">
	<nav class="navbar-inner">
		<div>
			<div class="span3 offset1">
				<h2>Ads.bendbulletin.com <small></small></h2>
			</div>
			<div class="pull-right">
				<ul class="nav">
				</ul>
		  </div>
		</div>
	</nav>
</div>
